In [ ]:
#Anonymous functions
#anonymous functions are created by lambda keyword and we can write the code in a single line so
# we can reduce boiler plate of code
#lamda variable:expression

In [ ]:
#anonymous function with one argument
square=lambda x:x**2
print(square(5))

25

In [ ]:
#anonymous functions with two arguments
add=lambda x,y:x+y
print(add(5,3))

8

In [ ]:
#Recursive functions
#function that call themselves during theire execution.
#it is useful when we are solving  problems than can be broken down into smaller and smaller
#5!=5*4*3*2*1=120
def factorial(n):
  if n==0:
    return 1
  else:
    return n*factorial(n-1)
print(factorial(5))

120

In [ ]:
iteration 1:
factorial(5):

if n==0:(false)

else:
  return n*factorial(n-1)
  5*factorial(4)==5*24==120

factorial(4):
if n==0:(false)
else:
  return 4*factorial(3)==4*6=24
factorial(3):
if n==0:(false)
else:
  return 3*factorial(2)==>3*2=6

factorial(2):
if n==0(false)
else:
  return 2*factorial(1):-->2*1=2
factorial(1):
else:
  return 1*factorial(0)-->1*1==1

In [ ]:
#Higher order functions
#These functions that take other functions as arguments or return the function as results
#inbuilt higher order functions
#1. map()
#2.filter()
#3.sorted()

In [ ]:
# using lambda with map function to square each argument in a list
num=[1,2,3,4]
print(num)
square_numbers=map(lambda x:x**2,num)
print(square_numbers)
for i in square_numbers:
  print(i)

#tracing
#iteration1:
#map(lambda 3:3**2,)-->num=[1,4,9]

[1, 2, 3, 4]
<map object at 0x7cb961f7b9d0>
1
4
9
16

In [ ]:
#filter
numbers=[1,2,3,4,5,6,7,8]
def is_even(n):
  return n%2==0
even_numbers=filter(is_even,numbers)
print(even_numbers)
for i in even_numbers:
  print(i)

<filter object at 0x7cb961f4bbe0>
2
4
6
8

In [ ]:
#reduce functions
#reduce function take the arguments one is func and another one seq
#to use reduce function we have to import functools
import functools

In [ ]:
list=[1,2,3,4,5]
print(functools.reduce(lambda a,b:a+b,list))

15